<ion-header>
  <ion-toolbar>
    <ion-title>Recuperacion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<br>
<br>
  <ion-item>
    <ion-label position="floating">Ingrese su nueva contraseña</ion-label>
    <ion-input type="text"></ion-input>
    
  </ion-item>
  <ion-item>
    <ion-button color="light" [routerLink]= "['/home']" (click)="goToHome()">Restablecer contraseña</ion-button>
  </ion-item>
</ion-content>
