<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
    
    

  <div id="container">
    <div id="logo">
      <img src= "assets/img/duoclogo.png">
    </div>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="correo_alumno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password_alumno"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button shape="round" expand="block" (click)="iniciarSesion()">Iniciar sesión</ion-button>
      <br>
      <br>
      <ion-button color="light" [routerLink]= "['/regristrar-alumno']" (click)="goToAlumno()">Registrar Alumno</ion-button>
      <br>
      <br>
      <center>
        <ion-button color="light" [routerLink]= "['/recuperacion']" (click)="goToRecuperacion()">¿Olvidaste tu contraseña?</ion-button>
    
      </center>
    
        
    

  </div>
    
</ion-content>
